@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-redwhite: #b7acac;
    --color-green: rgb(3, 35, 3);
    --color-lightgreen: rgb(72, 99, 72);

    --font-large: 52px;
    --font-medium: 33px;
    --font-regular: 22px;
    --font-small: 19px;
    --font-micro: 16px;

    --size-border-radius: 4px;

    --animation-duration: 300ms;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'GangwonEdu_OTFBoldA', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color:transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

h1 {
    font-size: var(--font-large);
    font-weight: bold;
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    color: var(--color-black);
    margin: 8px 0px;
}

h3 {
    font-size: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0px;
}

p {
    font-size: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--color-green);
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--color-redwhite);
}

.navbar__logo > a {
    color: var(--color-redwhite);
}

.navbar__menu {
    display: flex;
}

.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    color: var(--color-redwhite);
    cursor: pointer;
}

.navbar__menu__item.active {
    border: 1px solid var(--color-redwhite);
    border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
    background-color:var(--color-lightgreen);
    border-radius: var(--size-border-radius);
}

.navbar__toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

/* 홈 */
#home {
    background: url(../images/background.png) center/cover no-repeat;
    padding: 40px;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-redwhite);
}

.home__title, .home__description {
    color: var(--color-redwhite);
}

.home__contact {
    color: var(--color-redwhite);
    font-size: var(--font-regular);
    font-weight: bold;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-redwhite);
    border-radius: var(--size-border-radius);
    font-family: 'GangwonEdu_OTFBoldA', sans-serif;
}

.home__contact:hover {
    background-color: var(--color-redwhite);
    color: #000000;
    font-family: 'GangwonEdu_OTFBoldA', sans-serif;
}

.section {
    padding: 50px;
    text-align: center; 
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
} 

.major__icon {
    width: 170px;
    height: 170px;
    line-height: 195px;
    font-size: 70px;
    margin: auto;
    color: var(--color-lightgreen);
    border: 1px solid var(--color-lightgreen);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major__icon i {
    transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
    color: var(--color-green);
    transform: rotate(-30deg) scale(1.1);
}